<h1>Product details</h1>

<p *ngIf="!item"><em>Loading...</em></p>

<form *ngIf="item" #productDetailsForm="ngForm" (ngSubmit)="onSubmit(productDetailsForm)">

  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="item.id">
  <table>
    <tr>
      <td>
        <label>Name</label>
      </td>
      <td>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="item.name" required>
        <div [hidden]="name.valid || name.untouched" style="color:red">
          Field required
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label>Category</label>
      </td>
      <td>
        <input type="text" name="category" #category="ngModel" [(ngModel)]="item.category" required>
        <div [hidden]="category.valid || category.untouched" style="color:red">
          Field required
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label>Active</label>
      </td>
      <td>
        <input type="checkbox" name="isActive" #isActive="ngModel" [(ngModel)]="item.isActive">
      </td>
    </tr>
    <tr>
      <td>
        <label>Price</label>
      </td>
      <td>
        <input type="text" name="price" #price="ngModel" [(ngModel)]="item.price" required>
        <div [hidden]="price.valid || price.untouched" style="color:red">
          Field required
        </div>
      </td>
  </table>
  <br>
  <div>
    <button [disabled]="name.invalid || category.invalid || price.invalid" type="submit">
      Submit
    </button>
    <div [hidden]="name.valid && category.valid && price.valid" style="color:red">
      Fields "Name", "Category", "Price" are required!
    </div>
  </div>
</form>
<br>

