<h1>Products list</h1>

<p *ngIf="!products"><em>Loading...</em></p>

<button style="float:right" [routerLink]="['/details', 'newProduct']">Add product</button>

<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Active</th>
      <th>Price</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td [routerLink]="['/details', product.id]">{{ product.id }}</td>
      <td [routerLink]="['/details', product.id]">{{ product.name }}</td>
      <td [routerLink]="['/details', product.id]">{{ product.category }}</td>
      <td [routerLink]="['/details', product.id]">{{ product.isActive }}</td>
      <td [routerLink]="['/details', product.id]">{{ product.price }}</td>
      <td>
        <button (click)="deleteProduct(product.id)">
          Delete current product
        </button>
      </td>
    </tr>
  </tbody>
</table>

